<!DOCTYPE html>

<html>
    <head>

    </head>
    <body>
        {{>header}}
        <p>this is created by {{name}}</p>
        <p>this site was created vipin . It uses data from mapbox.com and darksky.net!</p>
        {{>footer}}
    </body>
</html>
