<!DOCTYPE html>

<html>
    <head>
     <link rel="stylesheet", href="./css/style.css"> 
   
    </head>
    <body>
          {{>header}}
          <p>this is developed by {{name}}</p>
        {{!-- <img src='/img/mario_PNG125.png'> --}}
        {{>footer}}

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
          <script src="/js/app.js"></script>
    </body>
</html>
